ponderingEnabled = false

#Game Search Log
logDir = gtp_logs
logAllGTPCommunication = false
logSearchInfo = false
logSearchInfoForChosenMove = false
logToStderr = false

#Ruleset
rules = chinese

maxVisits = 20   # 40 in gtp_human5k_example.cfg.

# Having more than one thread speeds up search when visits are larger.
# Make sure the number of threads is much smaller than the number of visits, however.
numSearchThreads = 8  # 1 in gtp_human5k_example.cfg.
lagBuffer = 1.0

# Rough scale in seconds to randomly delay moving, so as not to respond instantly.
# Some moves will delay longer, some moves will delay a little less.
delayMoveScale = 0.0
delayMoveMax = 0.0

# Since we're doing more search, increase size of neural net cache a bit for performance.
nnCacheSizePowerOfTwo = 18    # was 17 in gtp_human5k_example.cfg.
nnMutexPoolSizePowerOfTwo = 12

ignorePreRootHistory = false
analysisIgnorePreRootHistory = false

rootNumSymmetriesToSample = 1
useLcbForSelection = false

# Make score utility count a bit more
winLossUtilityFactor = 1.0
staticScoreUtilityFactor = 0.3    # was 0.3 in gtp_human5k_example.cfg.
dynamicScoreUtilityFactor = 0.3   # was 0.0 in gtp_human5k_exampcle.cfg.

useUncertainty = false
subtreeValueBiasFactor = 0.0
useNoisePruning = false